  html {
      box-sizing: border-box;
      height: 100%;
  }

  *, *:before, *:after {
      box-sizing: inherit;
      margin: 0; 
      padding: 0;
  }


  body {
      margin: 0; 
      padding: 0;
      background-image: url("../images/bg2.jpg");
      background-repeat: no-repeat;
      background-size:cover;
      background-position: bottom;
      width:100%;
      height: 100%;
      overflow: hidden;
  }


  #header{
    position:absolute;
    top:0;
    text-align: center;
    height:20%;
    width:100%;
    padding-top: 1.5rem;
  }

  #header h1{
    margin:0;
    font-size: 3rem;
    color:white;
    text-shadow: 2px 2px 0px #000;

  }

  #main{
    position:absolute;
    width:50%;
    left:26%;
    top:22%;
    min-height:0;
    max-height: 23.8rem;
    /*border:solid #845D5D 1px;*/
    text-align: center; 
    background: rgba(255,255,255,.6);
    margin-left: -12px;
    border-radius: 10px;
    overflow-y:auto;
  }


  #new-task{
    position: absolute;
    width: 40%;
    right: 30%;
    height: 2.5rem;
    font-size: 1.1rem;
    border-radius: 10px;
    border-style: none;}

  #task-list li{
  border:solid #92ADA9 1px;
  list-style: none;
  margin:1rem 3rem;
  padding:0.5rem 1rem;
  font-size: 1.2rem;
  color:#845D5D;
  border-radius: 15px;
  text-align: left;
  height:2.9rem;
  }

  #footer{
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
    height:10%;
    border-top: solid White 1px;
    
  }

  #footer p{
     font-weight: bold;
    font-size: 1.6rem;
    color:White;
    text-shadow: 2px 3px 0px #000;
    padding-top: 0.5rem;
  }

  #footer h3{
    color:White;
    text-shadow: 2px 2px 0px #000;
  }

  #footer a {
    text-decoration: none;
    cursor: pointer;
    color:#ffffff;
  }

  .destroy{
  background-image: url("../images/delete2.png");
  height:31px;
  width:31px;
  float:right;
  margin-right: 1rem;
  margin-top:0.40rem;
  cursor: pointer;
  }

  .start{
  background-image: url("../images/play1.png");
  width:31px;
  height:31px;
  display:inline-block;
  margin: 0 40px;
  cursor: pointer;
  float:left;
   margin-top:-2px
  }

  .finish{
  background-image: url("../images/pause4.png");
  width:31px;
  height:31px;
  display:inline-block;
  margin: 0 40px;
  cursor: pointer;
  float:left;
  margin-top:-2px
  }

  #total-time{float:left;
    margin-top:2px;
    margin-left:20px}

  .destroy{float:right; 
        margin-top:-2px}

  .startOn{background-color: #8BB18B}

  #title{float:left;
    margin-top:2px;
    margin-left:10px}

    #timelogapp ul {
      list-style-type: none; /* Hides bullet points from task list */
    }
    #task-list input.edit {
      display: none; /* Hides input box*/
    }

    #task-list .editing input.edit {
      display: inline;
      float:left;
      margin-left: 10px;
      margin-top: 4px; /* Shows input text box when .editing*/
    }

    #task-list .editing #title {
      display: none; 
       /* Hides label text when .editing*/
    } 
    
    #task-list .deletion  {
      display: none; /* Hides button with class "destroy" when .editing */
    } 

   