<!DOCTYPE html>
<html lang="en" data-framework="backbonejs">
<head>
  <meta charset="UTF-8">
  <title>Time logs in Backbone.js</title>
  <link rel="stylesheet" href="css/style.css">  
</head>

<body>

  <!-- ========= -->
  <!-- Your HTML -->
  <!-- ========= -->

  <section id="timelogapp">
    <header id="header">
      <h1>Tasks</h1>
      <input id="new-task" placeholder="  What needs to be done?">
    </header>
    <div id="main">
      <ul id="task-list"></ul>
    </div>
    <footer id="footer">
    <p>View the source on <a href="https://github.com/physgeekoder/TimeLogApp" target="_blank">Github</a></p>
    <h3> November 2015 </h3>
    </footer>
  </section>


    <!-- Templates -->
  <script type="text/template" id="item-template">
    <div>
      <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
      <label><%- title %></label>
      <input class="edit" value="<%- title %>">
      <% if (active) { %>
      {<%= active.duration %>} - <button type="button" class="finish">Finish</button>
      <% } else { %>
      <button type="button" class="start">Start</button>
      <% } %>
      
      <label></label>
      <label id="duration"><%= total_time %></label>
      <button class="destroy" type="button"></button>
    </div>
  </script> 

  <!-- ========= -->
  <!-- Libraries -->
  <!-- ========= -->

  <script src="lib/jquery-1.11.3.js"></script>
  <script src="lib/underscore.js" type="text/javascript"></script>
  <script src="lib/backbone.js" type="text/javascript"></script>
  <script src="lib/backbone.localStorage.js" type="text/javascript"></script>  

  <!-- =============== -->
  <!-- Javascript code -->
  <!-- =============== -->

  <script src="js/models/timelogmodel.js"></script>
  <script src="js/collections/timelogcollection.js"></script>
  <script src="js/models/taskmodel.js"></script>
  <script src="js/collections/taskcollection.js"></script>
  <script src="js/views/task-view.js"></script>
  <script src="js/views/app-view.js"></script>

  
</body>
</html>

